@page
@model Northwind.Gui.Web.Pages.Employments.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employment[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employment[0].HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employment[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EmploymentID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EmploymentID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EmploymentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
